<%= render 'layouts/gallery' %>
<%= render 'cover_and_profile' %>

<div style="float: left; width: 40%;">
  <div class="content-block">
    <%= render 'friends' %>
  </div>
  <div class="content-block">
    <%= render 'gallery_viewer' %>
  </div>
  <div class="content-block">
    <%= render 'photo_viewer' %>
  </div>
</div>

<div style="float: right; width: 59%;">
  <% if can? :update, @user %>
      <div class="content-block">
        <%= render :partial => 'posts/form' %>
      </div>
  <% end %>

  <%= render 'posts/posts_block' %>
</div>