<%= form_for @post, :html => {:class => "form-horizontal post"} do |f| %>

    <% if @post.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@post.errors.count, "error") %> prohibited this post from being
              saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @post.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <h3 style="float: left;">Post photo from gallery</h3>

    <div style="float: right;">
      <div id="links" class="image square-image-200" style="margin: 0;">
        <%= image_tag(@image.photo.url(:large)) %>
      </div>
    </div>

    <div style="clear: left; float: left;">
      <p class="image round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></p>
    </div>

    <div style="float: left; width: 64%; padding: 2px 0 0 12px;">
      <div>
        <%= f.text_area :content, :class => 'form-control', placeholder: 'What is on your mind?', :style => 'resize:vertical;' %>
      </div>
    </div>

    <%= f.hidden_field :gallery_image_id %>

    <div style="clear: left; margin-left: 62px; padding-top: 8px;">
      <div>
        <%= f.submit 'Post photo', :class => 'btn btn-primary' %>
      </div>
    </div>

    <div style="clear: both;">
    </div>
<% end %>
