<% @user = User.find(@gallery.user_id) %>
<%= render 'users/cover_and_profile_compact' %>
<%= render 'layouts/gallery' %>

<div class="content-block">
  <h3>Gallery <%= @gallery.title %> of user <%= @user.full_name %></h3>

  <div id="links" style="padding-bottom: 10px;">
    <% @gallery.gallery_images.each do |image| %>
        <%= link_to image_tag(image.photo.url(:thumb)), image.photo.url, data: {gallery: ''}, :class => 'gallery-thumb gallery-rmv' %>
        <% if Post.where(:gallery_image_id => image.id).empty? %>
            <%= link_to '<span class="glyphicon glyphicon-comment"></span>'.html_safe,
                        post_with_image_path(:id => image.id),
                        :class => 'btn btn-primary btn-xs btn-my btn-rmv' %>
        <% else %>
            <%= link_to '<span class="glyphicon glyphicon-comment"></span>'.html_safe,
                        root_path(:search_by_image_id => image.id),
                        :class => 'btn btn-success btn-xs btn-my btn-rmv' %>
        <% end %>
    <% end %>
  </div>

  <%= link_to 'Back', request.referer ? request.referer : user_path(:id => current_user.id), :class => 'btn btn-default', :style => 'margin-top: 20px;' %>
</div>