<!DOCTYPE html>
<html>
<head>
  <title>Facewall</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/menu' %>

<div id='wrapper'>
  <% if notice %>
      <p class="alert alert-success" id="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert alert-danger" id="alert"><%= alert %></p>
  <% end %>

  <%= yield %>
</div>

<div class='content-block' id="footer">
  FaceWall &copy; <%= Time.now.year %>, Tomas Kubicek
</div>

</body>
</html>